html {
  box-sizing: border-box;
  font-family: Georgia, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0eee8;
}

a {
  text-decoration: none;
}

.link-card {
  display: inline-block;
  margin: .5rem;
  color: #512200;
  background-color: #dcd4cd;
  border: 3px solid #785439;
  border-radius: 3px;
  padding: 1rem;
}

a .link-card {
  margin: 0;
  padding: 0;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card h2 {
  display: inline-block;
  font-family: Dosis, sans-serif;
  font-size: 1.5rem;
  color: #512200;
  margin: 0 0 1rem;
}

strong {
  margin: 0;
  margin: 0 0 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  margin: 0 0 1rem;
}

dl {
  font-size: .875rem;
  display: block;
  line-height: 1.5;
  margin: 0 0 1rem;
}

dt {
  display: inline-block;
}

dd {
  font-style: italic;
  display: inline-block;
}

div {
  display: inline-block;
  text-align: center;
}

.btn {
  display: inline-block;
  text-align: center;
  background-color: #785439;
  border: 2px solid #785439;
  border-radius: 8px;
  padding: .4em .75em .5em;
  margin: 0 0 1rem;
}

.btn h2 {
  margin: 0;
  font-size: 1.125rem;
  color: #fff;
}
